@import 'tailwindcss';
@import "primeicons/primeicons.css";

@plugin "tailwindcss-primeui";

@keyframes fadeOut {
  0%,
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 2s forwards;
}
